.momane_wrapper {
    position: fixed;
    width: 150px;
    bottom: 0;
    background-color: #3860bb;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 4px solid white;
    left: 1%;
}


.momane_wrapper button, .momane_wrapper label {
    display: block;
    width: 130px;
    text-align: center;
    padding: 5px;
    margin-top: 10px;

}

.momane_wrapper label{
    width: 150px;
    text-align: left;
    margin-left: -9px;
    margin-top: 5px;
    padding-top: 0;
}
.momane_wrapper input {
    vertical-align: middle;
}
.momane_title{
    text-align: center;
}
.momane_title img{
    height: 60px;
}

.momne_note{
    color: black;
}

.momane_searchOpt input{
    height: inherit;
}
.momane_icon{
    margin-left: 5px;
    cursor: pointer;
}

.momane_notification{
    position: fixed;
    bottom: 0;
    width: 500px;
    text-align: center;
    height: 30px;
    background-color: gray;
    box-shadow: 1px 1px 1px gray;
    left: 50%;
    margin-left: -250px;
    color: white;
    font-size: 14px;
    display: none;
    padding: 10px;
}