.momane_wrapper {
    position: fixed;
    width: 150px;
    top: 580px;
    background-color: #3860bb;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 4px solid white;
    left: 30px;
}


.momane_wrapper button, .momane_wrapper label {
    display: block;
    width: 130px;
    text-align: center;
    padding: 5px;
    margin-top: 10px;

}

.momane_wrapper label{
    width: 150px;
    text-align: left;
    margin-left: -9px;
    margin-top: 5px;
    padding-top: 0;
}
.momane_wrapper input {
    vertical-align: middle;
}
.momane_title{
    text-align: center;
}
.momane_title img{
    height: 60px;
}

.momne_note{
    color: black;
}

.momane_searchOpt input{
    height: inherit;
}
